%h3 
  Gitlabhq
  %span.right v2.3
%hr
%h4 Silverstripe Australia Self Hosted Git repositories

%hr

%h5 User Help

%ol
  %li
    = link_to "Getting Started", help_getting_started_path
  %li
    = link_to "Workflow", help_workflow_path
  %li
    = link_to "Permissions", help_permissions_path
  %li
    = link_to "Git Cheat Sheet", help_git_cheat_sheet_path

%h5 Administrator Help
%ol
  %li
    = link_to "Getting Started - Administrators", help_getting_started_admin_path
  %li
    = link_to "Applying Branch Permissions", help_branch_permissions_path